* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Work Sans", "Work Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  height: 50px;
  /* background: white; */
  padding-top: 10px;
  box-shadow: 10px 5px 5px #dadada;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  /* background: green; */
  padding: 10px;
}
.title {
  /* background-color: violet; */
}
.column {
  display: flex;
}
.main {
  flex-grow: 2;
  width: 70%;
  height: 88vh;
  order: 2;
}
.left-aside {
  width: 10%;
  flex-grow: 1;
  /* background: green; */
  height: 88vh;
  order: 1;
}
.right-aside {
  width: 10%;
  flex-grow: 1;
  /* background: greenyellow; */
  height: 88vh;
  order: 3;
}
.footer {
  font-size: small;
  text-align: center;
  /* background: beige; */
}
.list-functions {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 5%;
    padding-right: 5%;
}
.card {
  height: 23vh;
  border: 0.5px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  transition: all 0.3s ease-in-out;
  flex-direction: row-reverse;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.15);
}

.card-logo {
  order: 1;
  /* background: turquoise; */
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.title-desc {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 5%;
}

.card-title {
  order: 2;
  /* background: sienna; */
  font-size: medium;
}
.card-desc {
  order: 2;
  /* background: palevioletred; */
  /* font-size: small; */
}

.sub-title {
  padding-top: 1%;
  text-align: center;
}




/* 
 On each page
*/

.custom-text{
  padding: 10%;
  text-align: center;
  padding-top: 0%;
}

.custom-input{
  height: 20vh;
  margin: 5vh;
  width: 15vw;
}

#submit-btn{
  padding: 0.5%;
}



/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .list-functions {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
  .card {
    width: auto;
  }
  .title {
    font-size: smaller;
    padding: 2%;
  }
  .sub-title {
    font-size: x-small;
    padding: 3%;
  }
  .column {
    flex-direction: column;
    padding: 10%;
    padding-top: 3%;
    height: 79rem;
  }
  .main {
    width: 100%;
  }
  .right-aside {
    display: none;
  }
  .left-aside {
    display: none;
  }
  .card-logo{
    padding-left: 0%;
    padding-right: 0%;
  }
  .card-desc{
    font-size: 9.5px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  /* .card{
    flex-direction: row-reverse;
  }
  .list-functions{

  } */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .list-functions {
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0; 
  }
  .card {
    width: auto;
  }
  .title {
    font-size: smaller;
    padding: 2%;
  }
  .sub-title {
    font-size: x-small;
    padding: 2%;
  }
  .column {
    flex-direction: column;
    padding: 10%;
    padding-top: 3%;
    height: 56rem;
  }
  .main {
    width: 100%;
  }
  .right-aside {
    display: none;
  }
  .left-aside {
    display: none;
  } 
  .logo{
    padding: 2.5%;
  } 
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
